NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1
NEXT_PUBLIC_APP_NAME="Next Digital CRM"

# Super Admin Demo Credentials
NEXT_PUBLIC_SUPERADMIN_EMAIL=superadmin@next.com
NEXT_PUBLIC_SUPERADMIN_PASSWORD=Admin@12345
